{% extends 'base.html' %}
{% block content %}

<h1>Manage Your Daily Tasks</h1>

<div id='login'>

	<form id='login-form' action='/login' method='POST'>
		<label>Email: 
			<input type='email' name='email' required>
		</label>
		<label>Password: 
			<input type='password' name='password' required>>
		</label>
		<input type='submit' value='Login'>
	</form>

	<p>Don't have an account? <a id='signup-link'>Create one</a></p>

</div>

<div id='signup' hidden>

	<form id='signup-form' action='/signup' method='POST'>
		<label>Email: 
			<input type='email' name='email' required>>
		</label>
		<label>Password: 
			<input type='password' name='password' required>>
		</label>
		<input type='submit' value='Signup'>
	</form>

	<p>Already have an account? <a id='login-link'>Login</a></p>

</div>

<script src='/static/js/login.js'></script>

{% endblock %}